<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609224872147-ngfmvr7rf9rbv1pequh16te29im0pc6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609224872147-ngfmvr7rf9rbv1pequh16te29im0pc6i</string>
	<key>API_KEY</key>
	<string>AIzaSyCmlXaUQ7nEO1cF9CNGgb4LPPfLSPv436k</string>
	<key>GCM_SENDER_ID</key>
	<string>609224872147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourchoices.yourChoices</string>
	<key>PROJECT_ID</key>
	<string>your-choices-project</string>
	<key>STORAGE_BUCKET</key>
	<string>your-choices-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609224872147:ios:e28e000c369efec0420426</string>
</dict>
</plist>